<app-nav-bar></app-nav-bar>
<body>
<div class="container">
  <br>
  <h2 class="page-header" style="text-align: center">{{ title }}</h2>
  <div class="col-lg-3"></div>
  <h2>Company Registration</h2>
  <form (ngSubmit) = "createEmployee()" class="form-horizontal col-lg-6">
      <fieldset>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" [(ngModel)] = "register.name" id="inputName" placeholder="Name" name="name"  class="form-control">
      </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" [(ngModel)] = "register.email" id="inputEmail" placeholder="Email" name="email"  class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
        <div class="col-lg-10">
          <input type="text" [(ngModel)] = "register.phone" id="inputPhone" placeholder="Phone" name="phone"  class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress" class="col-lg-2 control-label">Address</label>
        <div class="col-lg-10">
          <input type="text" [(ngModel)] = "register.address" id="inputAddress" placeholder="Address" name="address"  class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="inputState" class="col-lg-2 control-label">State</label>
        <div class="col-lg-10">
          <input type="text" [(ngModel)] = "register.state" id="inputState" placeholder="State" name="state"  class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="inputCountry" class="col-lg-2 control-label">Country</label>
        <div class="col-lg-10">
          <input type="text" [(ngModel)] = "register.country" id="inputCountry" placeholder="Country" name="country"  class="form-control">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <div class="btns">
            <input type="submit" class="btn btn-primary" value="Add">
            
            <a [routerLink]="['/home']" routerLinkActive="active">
              <input type="button" value="Cancel" class="btn">
            </a>
          </div>
        </div>
      </div>
    
    </fieldset>
  </form>
  <div class="col-lg-3"></div>
</div>
</body>